body{
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,160,233,1) 79%);

}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.top-section-left, .transaction-info, .transaction-list{
    display: flex;
    flex-direction: row;  
    margin: 20px 50px;
}
.transaction-list{
    margin-right: 20px;
    justify-content: space-between;
}
.span-ml{
    margin-left: 60px;
}
.customer-container {
    display: flex;
    justify-content: space-between;
}
.customer-name, .customer-balance{
    margin: 0;
}
.top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.input-text, .btn-add, .select-info, .input-amount, .btn-send{
    padding: 8px;
    margin: 8px;
}

.top-section-right{
    padding: 20px;
    margin: 20px 50px;
}
.top-section-right{
    justify-content: space-between;
    align-items: center;
}
.transaction,.history{
    width: 40%;
    height: 60vh;
    padding: 10px;
    margin: 0px 60px;
    background-color: #f6e8e0;
}
ul {
    list-style-type: none;
}